<!DOCTYPE html>
<html>
  <head>
    <script src="jquery-1.10.2.js"></script> 
    <script src="twu_toolkit.js"></script> 
    <link rel="stylesheet" href="twu_toolkit.css" />
  </head>
  <body>
     <% if !flash[:notice].nil? %>
      <div class="notice">! <%= flash[:notice] %></div>
    <% end %>

    <% if !flash[:warning].nil? %>
      <div class="notice warning">! <%= flash[:warning] %></div>
    <% end %>

   <header>
      <nav>
        <span id="welcome_user" >Welcome, <em>Beloved User :)</em></span>
        <!-- for the future, navigation buttons 
        <ul>
          <li>
            <embed src="img/config.svg" type="image/svg+xml" ></embed>
          </li>
          <li>
            <embed src="img/logout.svg" type="image/svg+xml" ></embed>
          </li>
          -->
        </ul>
      </nav>
    </header>

    <aside>
      <%= erb :side  %>
    </aside>

    <main>
        <%= erb :session_type_errors %>
        <%= yield %>
    </main>

  </body>
</html>

